In [1]:
#Load necessary packages
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [2]:
#Load Data
df=pd.read_csv('Payment_Type__MBTA_Bus_Routes__September_8__2009.csv')

In [3]:
#look at Data
df.head(20)

,Route Name,%CharlieCard,%Other,Total Boardings,Large Triplex Roll mag Stripe,MBTA Old Tickets,PreCut Triplex w mag Stripe,Small Paper Roll mag Stripe,CharlieCard,Other
0,216,72,12,800,92.0,7.0,15.0,14.0,577.0,95.0
1,SL Washington,79,8,11569,1038.0,130.0,275.0,84.0,9112.0,930.0
2,39,77,6,9021,787.0,382.0,233.0,68.0,6981.0,570.0
3,Green Line B,80,8,8404,656.0,150.0,104.0,57.0,6730.0,707.0
4,1,77,8,6963,732.0,139.0,99.0,67.0,5360.0,566.0
5,Green Line C,84,8,6724,410.0,83.0,62.0,29.0,5621.0,519.0
6,23,73,10,4353,514.0,30.0,121.0,46.0,3191.0,451.0
7,111,61,11,3853,623.0,61.0,363.0,40.0,2345.0,421.0
8,66,76,7,3747,382.0,96.0,116.0,33.0,2851.0,269.0
9,32,70,8,3580,598.0,55.0,102.0,23.0,2500.0,302.0
10,77,79,8,3522,366.0,58.0,25.0,25.0,2768.0,280.0
11,116,60,14,3390,639.0,15.0,176.0,49.0,2046.0,465.0
12,117,60,15,3373,619.0,13.0,173.0,35.0,2019.0,514.0
13,86,76,5,3297,443.0,70.0,74.0,18.0,2514.0,178.0
14,28,70,13,3279,361.0,17.0,134.0,38.0,2287.0,442.0
15,15,74,9,3139,381.0,18.0,102.0,32.0,2323.0,283.0
16,101,71,10,3101,469.0,43.0,33.0,38.0,2196.0,322.0
17,88,73,9,3063,422.0,51.0,51.0,24.0,2246.0,269.0
18,70,69,10,3035,456.0,48.0,82.0,47.0,2084.0,318.0
19,87,77,8,3021,347.0,39.0,44.0,37.0,2323.0,231.0